# Node
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime
pids/
*.pid
*.pid.lock

# Coverage
coverage/
.nyc_output/

# Environment
.env
.env.*

# Uploads / temp
uploads/
tmp/
temp/

# Build
dist/
build/

# Editor/OS
.DS_Store
Thumbs.db
.vscode/
.idea/
